<template>
    <div class="table-nav">
        <div class="table-nav-pages-switcher">
            <div class="table-nav-arrow-left page-item" @click="visit(links[0].url)" v-if="links[0].url != null">
                <svg class="w-5 h-5 rtl:scale-x-[-1]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="rgb(129, 140, 248)" aria-hidden="true">
                    <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
            </div>
            <div :class="`table-nav-pagenum page-item ` + (cur.active ? 'current':'')" v-for="cur in links.slice(1, links.length-1)" @click="visit(cur.url)">
                {{ cur.label }}
            </div>
            <div class="table-nav-arrow-right page-item" @click="visit(links[links.length-1].url)" v-if="links[links.length-1].url != null">
                <svg class="w-5 h-5 rtl:scale-x-[-1]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="rgb(129, 140, 248)" aria-hidden="true">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    components: {},
    props: {
        links: Array,
    },
    methods: {
        visit(url, options={}) {
            let params = new URLSearchParams(window.location.search);
            params.delete('page');

            if (params.toString().length > 0) {
                url += '&' + params.toString()
            }

            this.$inertia.visit(url, {...{
                preserveScroll: true,
            }, ...options})
        },
        prev(options) {
            if (this.cur_index() == 0) {
                return;
            }
            this.visit(this.links[this.cur_index()-1].url, options)
        },
        next(options) {
            if (this.cur_index() >= this.links.length-2) {
                return;
            }
            this.visit(this.links[this.cur_index()+1].url, options)
        },
        cur_index() {
            let links = this.links.slice(1, this.links.length-1)
            for (let i = 0; i < links.length; i++) {
                if (links[i].active) {
                    return i
                }
            }
            return -1;
        }
    },
}
</script>

<style>
.table-nav {
    background: #F9FAFB;
    /* background: white; */
    width: 100%;
    border: 1px solid rgb(229 231 235);
    border-top: none;
    height: 50px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.table-nav-pages-switcher {
    display: flex;
    border: 1px solid rgb(229, 231, 235);
    user-select: none;
}
.page-item {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    color: grey;
    border: 2px solid transparent;
}
.page-item.disabled {
    cursor: default;
    filter: grayscale(1)
}
.page-item.current {
    border: 2px solid rgb(129, 140, 248);
    color: rgb(129, 140, 248);
}
.page-item:not(.current):not(.disabled) {
    cursor: pointer;
}
.page-item:not(.current):not(.disabled):hover {
    background: rgb(243, 243, 243);
}
</style>
