<template>
    <div class="table-header" v-if="title || $slots['$title']">
        <div class="table-header-title" v-if="title">{{title}}</div>
        <slot v-if="$slots['$title']" name="$title"></slot>
    </div>
    <table :class="_tableClass">
        <thead>
            <tr class="table-title">
                <th v-for="column in columns" :class="'px-4 py-2 whitespace-nowrap space-x-1 rtl:space-x-reverse font-medium text-sm text-gray-600 dark:text-gray-300 text-center column-title ' + column.class">{{ column.title }}</th>
            </tr>
        </thead>
        <tbody class="divide-y whitespace-nowrap dark:divide-gray-700">
            <tr v-for="row in rows" class="row" :id="'row-'+row.id" @click="$emit('row_click', row.id)">
                <td v-for="column, key in columns" class="dark:text-white">
                    <div :class="column.cell_class ?? 'px-4 py-2 whitespace-normal text-sm'">
                        <slot v-if="$slots[key]" :name="key" :row="row"></slot>
                        <span v-else>{{ row[key] }}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
export default {
    components: {},
    props: {
        title: String,
        columns: Object,
        rows: Array,
        tableClass: String,
    },
    data() {},
    computed: {
        _tableClass() {
            return {
                "product-table w-full text-left rtl:text-right divide-y table-auto filament-tables-table dark:divide-gray-700 border shadow-sm bg-white rounded dark:bg-gray-800 dark:border-gray-700": true,
                [this.tableClass]: true
            }
        },
    }
}
</script>

<style scoped>
th:first-of-type, td:first-of-type > div {
    padding-left: 24px;
}
th:last-of-type, td:last-of-type > div {
    padding-right: 24px;
}
td:not(:first-child) {
    border-left: 1px solid rgb(229, 231, 235);
}
.table-title {
    background: #F9FAFB;
}
.table-header {
    background: white;
    padding: 15px 24px;
    border-bottom-style: none;
    border-width: 1px;
}
.table-header-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.row:hover {
    background: #efefef;
}
.column-title {
    /* cursor: pointer; */
    cursor: default;
}
.column-title:hover {
    /* background: #f1f1f1; */
}
</style>
 