<template>
    <nav class="tabs">
        <div v-for="tab, i in tabs" @click="select(tab)" :class="'tab-btn' + (selected(tab)?' selected':'')">
            {{ tab.title }}
        </div>
    </nav>
    <div class="content">
        <div class="tab" v-for="tab in tabs">
            <slot :name="tab.code" v-if="selected(tab)"></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        tabs: {
            type: Array,
            defualt: []
        },
        selected: {
            type: String,
        }
    },
    data() {
        return {
            current: this.selected ? this.tabs.filter(tab => tab.code == this.selected).pop() ?? this.tabs[0] : this.tabs[0],
        }
    },
    methods: {
        selected(tab) {
            return this.current.code == tab.code
        },
        select(tab) {
            this.current = tab
            this.$emit('select', tab.code)
        }
    },
}
</script>

<style>
.tabs {
    border-bottom: 2px solid #E5E7EB;
    display: flex;
    gap: 12px;
    font-weight: 500;
    height: 40px;
    line-height: 38px;
    user-select: none;
}
.tab-btn {
    position: relative;
    padding: 0px 10px;
}
.tab-btn:not(.selected) {
    opacity: .5;
    cursor: pointer;
}
.tab-btn:not(.selected):hover {
    opacity: .8;
}
.tab-btn.selected {
    cursor: default;
    opacity: 1;
}
.tab-btn.selected:after {
    content: '';
    display: block;
    width: 100%;
    bottom: -2px;
    position: absolute;
    background: #2a7df9;
    height: 2px;
    left: 0;
}
</style>
