@tailwind base;
@tailwind components;
@tailwind utilities;


.link {
    color: #3447fc !important;
    display: block !important;
    text-decoration: none !important;
    border-bottom: none !important;
    opacity: 1 !important;
}
.link:hover {
    color: rgb(129, 140, 248) !important;
    cursor: pointer;
}

.price {
    font-family: monospace;
    text-align: right;
    background: #d5e7ff57;
    padding: 0px 6px;
    font-size: 14px;
    white-space: nowrap;
}

.price:after {
    content: " ₽";
}

select {
    border: 1px solid #d0d0d0 !important;
    padding: 2px 8px !important;
    background-size: 1em !important;
    padding-right: 30px !important;
    font-size: 14px;
    color: #222;
    outline: none !important;
    box-shadow: none !important;
}

input[type=text] {
    border: 1px solid #d0d0d0 !important;
    padding: 2px 8px !important;
    font-size: 14px;
    outline: none !important;
    box-shadow: none !important;
}

.filter {
    border: 1px solid rgb(229, 231, 235);
    background: rgb(249, 250, 251);
    font-size: 14px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-items: flex-start;
}
.filter-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.filter-item:not(:first-of-type) {
    padding-left: 15px;
    border-left: 1px dashed #d7d7d7;
    margin-left: 15px;
}
.filter-item-title {
    user-select: none;
}
.filter-toolbar {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 14px;
}

.lock {
    cursor: default;
    pointer-events: none;
}

.modal-title {
    font-size: 19px;
    font-weight: bold;
    opacity: .7;
    padding: 10px 20px;
    border-bottom: 1px solid grey;
}
.modal-body {
    padding: 20px;
}
.modal-subtitle {
    margin-bottom: 20px;
}
.modal-table-wrapper {
    cursor: pointer;
}
.modal-buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subtitle {
    font-weight: bold;
    opacity: .7;
}

