<template>
    <AppLayout :title="item.title">

        <div class="py-6 pb-20">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white">
                    <div class="title">
                        {{ item.title }}
                    </div>
                    <Tabs :tabs="tabs">
                        <template #overview>
                            <div class="overview">
                                <div class="overview-item">
                                    <div class="overview-item-title">Источник:</div>
                                    <div class="overview-item-value"><a :href="item.url" class="link" target="_blank">{{ item.source }}</a></div>
                                </div>
                                <div class="overview-item">
                                    <div class="overview-item-title">Артикул:</div>
                                    <div class="overview-item-value">{{ item.external_id }}</div>
                                </div>
                                <div class="overview-item">
                                    <div class="overview-item-title">Цена:</div>
                                    <div class="overview-item-value"><div class="price">{{ (item.price / 100).toLocaleString('fr') }}</div></div>
                                </div>
                                <div class="overview-item">
                                    <div class="overview-item-title">Бренд:</div>
                                    <div class="overview-item-value">{{ item.brand ?? '-' }}</div>
                                </div>
                                <div class="overview-item">
                                    <div class="overview-item-title">Цвет:</div>
                                    <div class="overview-item-value">{{ item.color ?? '-' }}</div>
                                </div>
                                <div class="overview-item">
                                    <div class="overview-item-title">Артикул IKEA:</div>
                                    <div class="overview-item-value">
                                        <input v-model="item.ikea_vendor_code" @change="update_ikea_vendor_code">
                                    </div>
                                </div>
                                <div class="overview-item">
                                    <div class="overview-item-title">Описание:</div>
                                    <pre class="overview-item-value" v-html="item.description" style="padding-top:2px;font-size:13px"></pre>
                                </div>
                            </div>
                        </template>
                        <template #images>
                            <div class="images">
                                <div class="image" v-for="image in item.images">
                                    <a :href="image" target="_blank">
                                        <img :src="image">
                                    </a>
                                </div>
                            </div>
                        </template>
                        <template #attributes>
                            <div class="attributes">
                                <div class="attributes-item" v-for="attribute in item.attributes">
                                    <div class="attributes-item-title">{{ attribute.name }}</div>
                                    <div class="attributes-item-value">{{ attribute.value }}</div>
                                </div>
                            </div>
                        </template>
                        <template #export>
                            <div class="item-export">
                                <Table :rows="[item.parent?.vdd_item || item.vdd_item]" :columns="columns">
                                    <template #title="{row}">
                                        <NavLink :href="route('export.detail', {item_id: row.id})" class="link item-title">{{ row.item.title }}</NavLink>
                                    </template>
                                    <template #price="{row}">
                                        <div class="price">{{ (row.price / 100).toLocaleString('fr') }}</div>
                                    </template>
                                    <template #status="{row}">
                                        <span :class="'link item-status ' + get_item_status(row).code" @click="toggle_export(row.id)">
                                            {{ get_item_status(row).title }}
                                        </span>
                                    </template>
                                </Table>
                            </div>
                        </template>
                        <template #duplicates>
                            <div class="item-duplicates item-export">
                                <Table :rows="item.duplicates" :columns="duplicates_columns">
                                    <template #image="{row}">
                                        <div style="height:20px;width:20px;overflow:hidden;">
                                            <img :src="row.images.length>0?row.images[0]:''" height="100%">
                                        </div>
                                    </template>
                                    <template #title="{row}">
                                        <NavLink :href="route('items.detail', {item_id: row.id})" class="link item-title">{{ row.title }}</NavLink>
                                    </template>
                                    <template #price="{row}">
                                        <div class="price">{{ (row.price / 100).toLocaleString('fr') }}</div>
                                    </template>
                                    <template #category="{row}">
                                        <span style="white-space:nowrap">{{ row.category }}</span>
                                    </template>
                                    <template #source="{row}">
                                        <a :href="row.url" class="link" target="_blank">{{ row.source }}</a>
                                    </template>
                                </Table>
                            </div>
                        </template>
                    </Tabs>
                </div>
            </div>
        </div>
    </AppLayout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout.vue';
import Tabs from '@/Components/Tabs.vue';
import Table from '@/Components/Table.vue';
import NavLink from '@/Components/NavLink.vue';

export default {
    props: {
        item: Object,
    },
    components: {
        AppLayout,
        Tabs,
        NavLink,
        Table,
    },
    data() {
        let tabs = [
            { 
                title: 'Общие', 
                code: 'overview' 
            },
            { 
                title: 'Изображения', 
                code: 'images' 
            },
            { 
                title: 'Характеристики', 
                code: 'attributes' 
            },
        ];

        if (this.item.parent?.vdd_item_id > 0 || this.item.vdd_item_id > 0) {
            tabs.push({
                title: 'Выгрузка',
                code: 'export',
            })    
        }

        if (this.item.duplicates.length > 0) {
            tabs.push({ 
                title: 'Связанные товары', 
                code: 'duplicates' 
            });
        }

        return {
            tabs,
            columns: {
                sku: {
                    title: 'Артикул',
                },
                title: {
                    title: 'Наименование',
                },
                status: {
                    title: 'Статус'
                },
            },
            duplicates_columns: {
                image: {
                    title: '',
                },
                title: {
                    title: 'Наименование'
                },
                price: {
                    title: 'Цена',
                },
                category: {
                    title: 'Категория',
                },
                external_id: {
                    title: 'Артикул'
                },
                source: {
                    title: 'Источник'
                },
            },
        };
    },
    methods: {
        get_item_status(vdd_item) {
            if (vdd_item.active) {
                return { title: 'В выгрузке', code: 'exported' };
            } else {
                return { title: 'Неактивный', code: 'inactive' };
            }
        },
        toggle_export(vdd_item_id) {
            const page = this;
            page.lock = true;
            this.$inertia.post(route('export.toggle', { item_id: vdd_item_id }), {}, {
                preserveScroll: true,
                onFinish() {
                    page.lock = false;
                }
            })
        },
        update_ikea_vendor_code() {
            this.$inertia.post(route('items.update_ikea_vendor_code', { item_id: this.item.id }), {  ikea_vendor_code: this.item.ikea_vendor_code  });
        }
    }
}
</script>

<style scoped>
.overview {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.overview-item {
    display: flex;
    gap: 16px;
}
.overview-item-title {
    font-size: 15px;
    color: #757575;
    font-weight: bold;
    user-select: none;
    min-width: 120px;
    text-align: right;
    width: 120px;
}
.overview-item-value {
    font-size: 15px;
    overflow-x: auto;
}
.attributes {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}
.attributes-item-title {
    font-size: 15px;
    color: #757575;
    font-weight: bold;
    user-select: none;
}
.attributes-item-value {
    font-size: 15px;
}
.images {
    background: #f3f4f6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.image {
    box-sizing: content-box;
    background: white;
}
.image img {
    width: 100%;
}
/* .image:not(:last-of-type) {
    border-right: 2px dashed #bababa;
} */
.title {
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 2px solid #e5e7eb;
}

.duplicates {
    padding: 20px;
}
.item-export {
    padding: 20px;
    background: white;
}

.item-status {
    display: block;
    width: 100%;
    white-space: nowrap;
}
.item-status.new {
    filter: grayscale(1);
}
.item-status.exported {
    filter: hue-rotate(213deg);
}
.item-status.inactive {
    filter: hue-rotate(150deg);
}
.overview-item-value input {
    margin: 2px;
}
.overview-item-value input:focus {
    outline: 1px solid #474eeb54;
}
</style>

