<template>
    <AppLayout title="Товары">

        <div class="items-workspace">
            <div class="left py-5">
                <div class="filter">
                    <div class="filter-item">
                        <div class="filter-item-title text-gray-600">Источник</div>
                        <div class="filter-item-field">
                            <select name="source" v-model="filter.source" @change="submit_filter()">
                                <option value="all" selected>Все</option>
                                <option :value="source" v-for="source in sources">{{ source }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-item">
                        <div class="filter-item-title text-gray-600">Статус</div>
                        <div class="filter-item-field">
                            <select name="status" v-model="filter.status" @change="submit_filter()">
                                <option value="all">Все</option>
                                <option value="new">Новый</option>
                                <option value="exported">В выгрузке</option>
                                <option value="inactive">Неактивный</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-item">
                        <div class="filter-item-title text-gray-600">Есть артикул IKEA</div>
                        <div class="filter-item-field">
                            <select name="has_ikea_vendor_code" v-model="filter.has_ikea_vendor_code" @change="submit_filter()">
                                <option value="all">Все</option>
                                <option value="yes">Да</option>
                                <option value="no">Нет</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-item">
                        <div class="filter-item-title text-gray-600">Наименование</div>
                        <div class="filter-item-field">
                            <input name="title" v-model="filter.title" @keyup.enter="submit_filter()" type="text" autofocus ref="filter_title">
                        </div>
                    </div>
                </div>
                <div :class="{'lock': lock, 'table-wrapper': true}">
                    <Table :rows="items.data" :columns="columns">
                        <template #image="{row}">
                            <div style="height:20px;width:20px;overflow:hidden;">
                                <img :src="row.images.length>0?row.images[0]:''" height="100%">
                            </div>
                        </template>
                        <template #title="{row}">
                            <a :href="route('items.detail', {item_id: row.id})" class="link item-title px-4 py-2" @click="e => {select_item(e, row.id); return false}">{{ row.title.substr(0, 80) + (row.title.length > 80 ? '..' : '') }}</a>
                        </template>
                        <template #price="{row}">
                            <div class="price">{{ (row.price / 100).toLocaleString('fr') }}</div>
                        </template>
                        <!-- <template #category="{row}">
                            <span style="white-space:nowrap">{{ row.category }}</span>
                        </template> -->
                        <template #ikea_vendor_code="{row}">
                            <div class="w-full text-center">{{ row.ikea_vendor_code }}</div>
                        </template>
                        <template #source="{row}">
                            <a :href="row.url" class="link" target="_blank">{{ row.source }}</a>
                        </template>
                        <template #status="{row}">
                            <span :class="'link item-status ' + get_item_status(row).code" @click="toggle_export(row.id)">
                                {{ get_item_status(row).title }}
                            </span>
                        </template>
                    </Table>
                    <Pagination :links="items.links" ref="nav"></Pagination>
                </div>
                <div class="selected-items">
                    <div :class="{'lock': lock, 'selected-items-wrapper': true}" v-if="selected.items.length>0">
                        <div class="selected-items-toolbar">
                            <div class="selected-items-toolbar-title text-gray-600">Выбранные товары</div>
                            <div class="selected-items-toolbar-buttons">
                                <SecondaryButton class="selected-items-toolbar-merge" v-if="selected.items.length>=2" @click="selected.modal.show=true; selected.modal.root=0">Объединить</SecondaryButton>
                            </div>
                        </div>
                        <Table :rows="selected.items" :columns="columns">
                            <template #image="{row}">
                                <div style="height:20px;width:20px;overflow:hidden;">
                                    <img :src="row.images.length>0?row.images[0]:''" height="100%">
                                </div>
                            </template>
                            <template #title="{row}">
                                <a :href="route('items.detail', {item_id: row.id})" class="link item-title px-4 py-2" @click="e => {remove_item(e, row.id); return false}">{{ row.title.substr(0, 80) + (row.title.length > 80 ? '..' : '') }}</a>
                            </template>
                            <template #price="{row}">
                                <div class="price">{{ (row.price / 100).toLocaleString('fr') }}</div>
                            </template>
                            <!-- <template #category="{row}">
                                <span style="white-space:nowrap">{{ row.category }}</span>
                            </template> -->
                            <template #ikea_vendor_code="{row}">
                                <div class="w-full text-center">{{ row.ikea_vendor_code }}</div>
                            </template>
                            <template #source="{row}">
                                <a :href="row.url" class="link" target="_blank">{{ row.source }}</a>
                            </template>
                            <template #status="{row}">
                                <span :class="'link item-status ' + get_item_status(row).code" @click="toggle_export(row.id)">
                                    {{ get_item_status(row).title }}
                                </span>
                            </template>
                        </Table>
                    </div>
                    <div class="blank-text" v-else>
                        Чтобы добавить товар в список для объединения, кликните по его названию удерживая shift, либо просто enter, если он уже выбран<br/>
                        Чтобы убрать товар из списка, также кликните по названию, удерживая shift
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="item-preview">
                    <div class="blank-text" v-if="selected.item_id==0">
                        Здесь будет детальная информация о товаре<br/>
                        Кликните по его названию
                    </div>
                    <div class="item-preview-content" v-else>
                        <div class="item-preview-title">{{ selected_item.title }}</div>
                        <Tabs :tabs="preview.tabs" @select="code => select_tab(code)" :selected="selected.tab">
                            <template #overview>
                                <div class="overview">
                                    <div class="overview-item">
                                        <div class="overview-item-title">Источник:</div>
                                        <div class="overview-item-value"><a :href="selected_item.url" class="link" target="_blank">{{ selected_item.source }}</a></div>
                                    </div>
                                    <div class="overview-item">
                                        <div class="overview-item-title">Артикул:</div>
                                        <div class="overview-item-value">{{ selected_item.external_id }}</div>
                                    </div>
                                    <div class="overview-item">
                                        <div class="overview-item-title">Цена:</div>
                                        <div class="overview-item-value"><div class="price">{{ (selected_item.price / 100).toLocaleString('fr') }}</div></div>
                                    </div>
                                    <div class="overview-item">
                                        <div class="overview-item-title">Бренд:</div>
                                        <div class="overview-item-value">{{ selected_item.brand || '-' }}</div>
                                    </div>
                                    <div class="overview-item">
                                        <div class="overview-item-title">Цвет:</div>
                                        <div class="overview-item-value">{{ selected_item.color || '-' }}</div>
                                    </div>
                                    <div class="overview-item">
                                        <div class="overview-item-title">Артикул IKEA:</div>
                                        <div class="overview-item-value">{{ selected_item.ikea_vendor_code || '-' }}</div>
                                    </div>
                                </div>
                            </template>
                            <template #images>
                                <div class="images">
                                    <div class="image" v-for="image in selected_item.images">
                                        <a :href="image" target="_blank">
                                            <img :src="image">
                                        </a>
                                    </div>
                                </div>
                            </template>
                            <template #attributes>
                                <div class="attributes">
                                    <div class="attributes-item" v-for="attribute in selected_item.attributes">
                                        <div class="attributes-item-title">{{ attribute.name }}</div>
                                        <div class="attributes-item-value">{{ attribute.value }}</div>
                                    </div>
                                </div>
                            </template>
                        </Tabs>
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
    
    <Modal :show="selected.modal.show" @close="selected.modal.show = false">
        <div class="bg-white">
            <div class="modal-title">
                Объединение товаров
            </div>
            <div class="modal-body">
                <div class="modal-subtitle">Выберите основной товар, к которому будут привязаны остальные</div>
                <div class="modal-table-wrapper">
                    <Table :rows="selected.items" :columns="selected.modal.columns" @row_click="id => select_modal_root(id)"/>
                </div>
                <div class="modal-buttons">
                    <SecondaryButton @click="selected.modal.show=false" class="btn-cancel">Отмена</SecondaryButton>
                    <SecondaryButton v-if="selected.modal.root>0" @click="merge">Применить</SecondaryButton>
                </div>
            </div>
        </div>
    </Modal>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout.vue';
import Table from '@/Components/Table.vue';
import Pagination from '@/Components/Pagination.vue';
import NavLink from '@/Components/NavLink.vue';
import Tabs from '@/Components/Tabs.vue';
import SecondaryButton from '@/Components/SecondaryButton.vue';
import Modal from '@/Components/Modal.vue';

export default {
    props: {
        items: Object,
        sources: Array,
    },
    components: {
        AppLayout,
        Table,
        Pagination,
        NavLink,
        Tabs,
        SecondaryButton,
        Modal,
    },
    data() {
        return {
            columns: {
                image: {
                    title: '',
                },
                title: {
                    title: 'Наименование',
                    cell_class: 'whitespace-normal text-sm',
                },
                price: {
                    title: 'Цена',
                },
                // category: {
                //     title: 'Категория',
                // },
                ikea_vendor_code: {
                    title: 'Артикул IKEA',
                },
                external_id: {
                    title: 'Артикул'
                },
                source: {
                    title: 'Источник'
                },
                status: {
                    title: 'Статус'
                },
            },
            filter: this.$inertia.form({
                source: 'all',
                status: 'all',
                has_ikea_vendor_code: 'all',
                title: '',
            }),
            selected: {
                tab: '',
                item_id: 0,
                items: [],
                modal: {
                    show: false,
                    columns: {
                        title: {
                            title: 'Наименование'
                        },
                        external_id: {
                            title: 'Артикул'
                        },
                    },
                    root: 0,
                },
            },
            preview: {
                tabs: [
                    { 
                        title: 'Общие', 
                        code: 'overview' 
                    },
                    { 
                        title: 'Изображения', 
                        code: 'images' 
                    },
                    { 
                        title: 'Характеристики', 
                        code: 'attributes' 
                    }
                ],
            },
            lock: false,
        }
    },
    methods: {
        visit(url) {
            this.$inertia.visit(url, {
                preserveScroll: true,
            })
            return false;
        },
        submit_filter() {
            const page = this;
            page.lock = true;
            this.filter.get(route('items'), {}, {
                preserveScroll: true,
                onFinish() {
                    page.lock = false;
                }
            });
        },
        toggle_export(item_id) {
            const page = this;
            page.lock = true;
            this.$inertia.post(route('items.toggle_export', {item_id}), {}, {
                preserveScroll: true,
                onFinish() {
                    page.lock = false;
                }
            })
        },
        get_item_status(item) {
            if (item.vdd_item_id == null) {
                return { title: 'Новый', code: 'new' };
            }
            if (item.vdd_item?.active) {
                return { title: 'В выгрузке', code: 'exported' };
            }
            return { title: 'Неактивный', code: 'inactive' };
        },
        select_item(event, item_id) {
            if (event.ctrlKey) {
                return;
            }

            event.preventDefault();
            event.stopPropagation();

            if (event.shiftKey) {
                if (this.selected.items.filter(item => item.id == item_id).length == 0) {
                    this.selected.items.push(this.items.data.filter(item => item.id == item_id).pop())
                    localStorage.setItem('items.selected.items', JSON.stringify(this.selected.items));
                }
                return
            }

            this.selected.item_id = item_id;
            this.select_item_row();
        },
        remove_item(e, item_id) {
            if (event.ctrlKey) {
                return;
            }

            event.preventDefault();
            event.stopPropagation();

            if (e.shiftKey) {
                this.selected.items = this.selected.items.filter(item => item.id != item_id)
                localStorage.setItem('items.selected.items', JSON.stringify(this.selected.items));
                return
            }

            this.selected.item_id = item_id;
            this.select_item_row();
        },
        select_item_row() {
            document.querySelectorAll('.row').forEach(e => {
                e.classList.remove('active');
            });
            document.querySelectorAll(`#row-${this.selected.item_id}`).forEach(e => {
                e.classList.add('active');
            });
        },
        select_modal_root(id) {
            this.selected.modal.root = id;

            document.querySelectorAll('.modal-table-wrapper .row').forEach(e => {
                e.classList.remove('active');
            });
            document.querySelectorAll(`.modal-table-wrapper #row-${this.selected.modal.root}`).forEach(e => {
                e.classList.add('active');
            });
        },
        merge() {
            this.selected.modal.show = false;
            const page = this;
            page.lock = true;
            this.$inertia.post(route('items.merge', {item_id: page.selected.modal.root}), {items: this.selected.items.map(item => item.id)}, {
                preserveScroll: true,
                onFinish() {
                    page.lock = false;
                    page.selected.items = [];
                    localStorage.setItem('items.selected.items', '[]');
                }
            })
        },
        navigate(event) {
            if (![13,38,40,37,39].includes(event.keyCode)) {
                return;
            }

            event.preventDefault();
            event.stopPropagation();

            if (event.keyCode == 13) {
                if (event.ctrlKey) {

                } else {
                    if (this.selected.item_id > 0) {
                        this.selected.items.push(this.items.data.filter(item => item.id == this.selected.item_id).pop());
                        localStorage.setItem('items.selected.items', JSON.stringify(this.selected.items));
                    }    
                }
                return
            }

            if ([38,40].includes(event.keyCode)) {
                if (this.selected.item_id == 0) {
                    if (event.keyCode == 40) {
                        this.selected.item_id = this.items.data[0].id;
                    } else {
                        this.selected.item_id = this.items.data[this.items.data.length-1].id;
                    }
                    this.select_item_row();
                    return;
                }

                let i = 0;

                for (; i < this.items.data.length; i++) {
                    if (this.items.data[i].id == this.selected.item_id) break;
                }

                i += {38: -1, 40: 1}[event.keyCode]

                if (i < 0 || i >= this.items.data.length) {
                    return;
                }

                this.selected.item_id = this.items.data[i].id;
                
                this.select_item_row();
            }

            // if ([37,39].includes(event.keyCode)) {
            //     const page = this;
            //     page.lock = true;
            //     let options = {
            //         onFinish() {
            //             page.lock = false;
            //         }
            //     };

            //     if (event.keyCode == 37) {
            //         this.$refs.nav.prev(options);
            //     } else {
            //         this.$refs.nav.next(options);
            //     }
            // }
        },
        select_tab(code) {
            this.selected.tab = code;
            localStorage.setItem('items.selected.tab', code)
        }
    },
    created() {
        const params = (new URLSearchParams(window.location.search));

        ['source', 'status', 'title', 'has_ikea_vendor_code'].forEach(key => {
            if (params.get(key)) {
                this.filter[key] = params.get(key)
            }
        });
    },
    mounted() {
        this.$refs.filter_title.focus()
        this.select_item_row();
        this.selected.items = JSON.parse(localStorage.getItem('items.selected.items') ?? '[]');
        this.selected.tab = localStorage.getItem('items.selected.tab') ?? '';
        window.addEventListener('keyup', this.navigate)
    },
    computed: {
        selected_item: function() {
            let item = this.items.data.filter(item => item.id == this.selected.item_id).pop();
            if (item) {
                return item;
            }

            item = this.selected.items.filter(item => item.id == this.selected.item_id).pop();
            if (item) {
                return item;
            }

            this.selected.item_id = 0;

            return {};
        }
    }
}
</script>

<style>
/* .preview {
    display: none;
    position: absolute;
    left: -2px;
    transform: translateX(-100%);
    border: 5px solid white;
    bottom: 1px;
    width: 140px;
    background: white;
    z-index: 9999;
    opacity: 1;
}
tr:hover .preview {
    display: block;
} */
tr {
    position: relative;
}
.item-title {
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.item-status {
    display: block;
    width: 100%;
    white-space: nowrap;
}
.item-status.new {
    filter: grayscale(1);
}
.item-status.exported {
    filter: hue-rotate(213deg);
}
.item-status.inactive {
    filter: hue-rotate(150deg);
}
.items-workspace {
    display: flex;
    max-width: 100%;
    min-height: 100%;
}
.left {
    display: grid;
    grid-template-rows: 48px auto 1fr;
    gap: 10px;
    padding: 20px;
    width: 75%;
}
.right {
    width: 25%;
}
.item-preview {
    height: calc(100% - 40px);
    background: white;
    margin: 20px 20px 20px 0;
    border: 1px solid rgb(229, 231, 235);
}
.selected-items {
    background: white;
    border: 1px solid rgb(229, 231, 235);
}
main {
    min-height: calc(100vh - 65px);
    display: grid;
    grid-template-rows: 1fr;
}
.row.active {
    background: #ddebff !important;
}
.blank-text {
    opacity: .4;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    user-select: none;
}
.item-preview-title {
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 2px solid #e5e7eb;
}

.overview {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.overview-item {
    gap: 2px;
    display: grid;
}
.overview-item-title {
    font-size: 15px;
    color: #757575;
    font-weight: bold;
    user-select: none;
    width: 120px;
}
.overview-item-value {
    font-size: 18px;
    overflow-x: auto;
    width: fit-content;
}
.overview-item-value .price {
    font-size: 16px !important;
}
.attributes {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}
.attributes-item-title {
    font-size: 15px;
    color: #757575;
    font-weight: bold;
    user-select: none;
}
.attributes-item-value {
    font-size: 15px;
}
.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}
.image {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    background: #f9fafb;
}
.image a, .image a img {
    display: block;
    width: 100%;
    height: 100%;
}
/* .image:nth-of-type(2n-1) {
    border-right: 2px dashed #bababa;
}
.image:nth-of-type(n+2) {
    border-top: 2px dashed #bababa;
} */
.overview-item-value.description {
    display: block;
    max-width: 100%;
    white-space: pre-wrap;
}
.selected-items-toolbar {
    border: 1px solid rgb(229, 231, 235);
    background: rgb(249, 250, 251);
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selected-items-toolbar-title {
    user-select: none;
}

</style>

