<template>
    <AppLayout :title="item.item.title">

        <div class="py-6 pb-20">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div :class="{'lock': lock, 'bg-white': true}">
                    <div class="title">
                        {{ item.item.title }}
                        <span v-if="item.item.ikea_vendor_code?.length>0" class="ikea-vendor-code">
                            Артикул IKEA: {{ item.item.ikea_vendor_code }}
                        </span>
                    </div>
                    <Tabs :tabs="tabs">
                        <template #items>
                            <div class="items-wrapper">
                                <div class="root-table">
                                    <div class="root-table-toolbar">
                                        <div class="subtitle">Основной</div>
                                        <SecondaryButton @click="change.show=true;change.id=0" v-if="item.other_items.length>0">Поменять</SecondaryButton>
                                    </div>
                                    <Table :rows="[item.item]" :columns="columns">
                                        <template #image="{row}">
                                            <div style="height:20px;width:20px;overflow:hidden;">
                                                <img :src="row.images.length>0?row.images[0]:''" height="100%">
                                            </div>
                                        </template>
                                        <template #title="{row}">
                                            <NavLink :href="route('items.detail', {item_id: row.id})" class="link item-title">{{ row.title }}</NavLink>
                                        </template>
                                        <template #price="{row}">
                                            <div class="price">{{ (row.price / 100).toLocaleString('fr') }}</div>
                                        </template>
                                        <template #category="{row}">
                                            <span style="white-space:nowrap">{{ row.category }}</span>
                                        </template>
                                        <template #source="{row}">
                                            <a :href="row.url" class="link" target="_blank">{{ row.source }}</a>
                                        </template>
                                    </Table>
                                </div>
                                <div class="others-table" v-if="item.other_items.length>0">
                                    <div class="subtitle">Остальные</div>
                                    <Table :rows="item.other_items" :columns="columns">
                                        <template #image="{row}">
                                            <div style="height:20px;width:20px;overflow:hidden;">
                                                <img :src="row.images.length>0?row.images[0]:''" height="100%">
                                            </div>
                                        </template>
                                        <template #title="{row}">
                                            <NavLink :href="route('items.detail', {item_id: row.id})" class="link item-title">{{ row.title }}</NavLink>
                                        </template>
                                        <template #price="{row}">
                                            <div class="price">{{ (row.price / 100).toLocaleString('fr') }}</div>
                                        </template>
                                        <template #category="{row}">
                                            <span style="white-space:nowrap">{{ row.category }}</span>
                                        </template>
                                        <template #source="{row}">
                                            <a :href="row.url" class="link" target="_blank">{{ row.source }}</a>
                                        </template>
                                    </Table>
                                </div>
                            </div>
                        </template>
                        <template #images>
                            <div class="images-toolbar">
                                <div class="subtitle">Выбрано {{ Object.values(item.selected_images).filter(val => val).length }} из {{ item.all_images.length }} изображений</div>
                                <SecondaryButton @click="select_images_request()" v-if="select_images.show_btn">Применить</SecondaryButton>
                            </div>
                            <div class="images">
                                <div class="image" v-for="image, i in item.all_images">
                                    <div class="image-wrapper">
                                        <img :src="image" @click="toggle_image(i)">
                                        <div class="image-toolbar">
                                            <div class="image-toolbar-selected" @click="toggle_image(i)">
                                                <!-- Выбрано -->
                                                <input type="checkbox" :checked="item.selected_images[i]" class="image-checkbox"/>
                                            </div>
                                            <div class="image-toolbar-buttons">
                                                <!-- <span v-if="item.images.filter(i => i.url == image).length==0" @click="cut_image(i)" class="link cut-btn text-sm ">Вырезать..</span> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </Tabs>
                </div>
            </div>
        </div>
    </AppLayout>
    
    <Modal :show="change.show" @close="change.show = false; lock = false">
        <div class="bg-white">
            <div class="modal-title">
                Перепривязка товара
            </div>
            <div class="modal-body">
                <div class="modal-subtitle">Выберите основной товар</div>
                <div class="modal-table-wrapper">
                    <Table :rows="item.other_items" :columns="change.columns" @row_click="id => change_item(id)"/>
                </div>
                <div class="modal-buttons">
                    <SecondaryButton @click="change.show=false" class="btn-cancel">Отмена</SecondaryButton>
                    <SecondaryButton v-if="change.id>0" @click="change_request()">Применить</SecondaryButton>
                </div>
            </div>
        </div>
    </Modal>
    
    <Modal :show="cut.show" @close="cut.show = false; lock = false">
        <div class="bg-white">
            <div class="modal-title">
                Добавить новое изображение
            </div>
            <div class="modal-body">
                <div class="modal-subtitle"></div>
                <div class="cut-modal-image-preview">
                    <div class="cut-modal-image-preview-old" :style="`background-image: url(${item.all_images[cut.index]})`"></div>
                    <div class="cut-modal-image-preview-separator"></div>
                    <div class="cut-modal-image-preview-new" :style="`background-image: url(${cut.image.url})`"></div>
                </div>
                <div class="modal-buttons">
                    <SecondaryButton @click="cut_cancel()" class="btn-cancel">Отмена</SecondaryButton>
                    <SecondaryButton v-show="!cut.loading" @click="cut.show=false; this.$inertia.reload()">Сохранить</SecondaryButton>
                </div>
            </div>
        </div>
    </Modal>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout.vue';
import Tabs from '@/Components/Tabs.vue';
import Table from '@/Components/Table.vue';
import SecondaryButton from '@/Components/SecondaryButton.vue';
import NavLink from '@/Components/NavLink.vue';
import Modal from '@/Components/Modal.vue';

export default {
    props: {
        item: Object,
    },
    components: {
        AppLayout,
        Tabs,
        Table,
        SecondaryButton,
        NavLink,
        Modal,
    },
    data() {
        return {
            tabs: [
                { 
                    title: 'Связанные товары', 
                    code: 'items' 
                },
                { 
                    title: 'Изображения', 
                    code: 'images' 
                },
            ],
            lock: false,
            columns: {
                image: {
                    title: '',
                },
                title: {
                    title: 'Наименование'
                },
                price: {
                    title: 'Цена',
                },
                category: {
                    title: 'Категория',
                },
                external_id: {
                    title: 'Артикул'
                },
                source: {
                    title: 'Источник'
                },
            },
            change: {
                show: false,
                id: 0,
                columns: {
                    title: {
                        title: 'Наименование'
                    },
                    external_id: {
                        title: 'Артикул'
                    },
                }
            },
            cut: {
                show: false,
                index: 0,
                image: {
                    id: 0,
                    url: '/icons/loading.gif',
                },
            },
            select_images: {
                show_btn: false,
            }
        }
    },
    created() {
        if (this.item.selected_images == null) {
            this.item.selected_images = {};
        }
    },
    methods: {
        change_item(id) {
            this.change.id = id
        },
        change_request() {
            this.change.show = false;
            const page = this;
            page.lock = true;
            this.$inertia.post(route('export.change', {item_id: page.item.id}), { new_item_id: page.change.id }, {
                preserveScroll: true,
                onFinish() {
                    page.lock = false;
                }
            })
        },
        toggle_image(index) {
            this.item.selected_images[index] = this.item.selected_images[index] ? !this.item.selected_images[index] : true;
            this.select_images.show_btn = true;
        },
        select_images_request() {
            this.lock = true;

            axios.post(
                route('export.images.select', {item_id: this.item.id}), 
                { map: this.item.selected_images }
            ).then(() => {
                this.lock = false;
            });
        },
        cut_image(index) {
            this.cut.index = index;
            this.cut.show = true;
            this.cut.loading = true;
            this.cut.image.url = "/icons/loading.gif";

            this.lock = true;

            setTimeout(() => {
                axios.post(
                    route('export.images.cut', {item_id: this.item.id, index})
                ).then(response => {
                    this.lock = false;
                    this.cut.loading = false;
                    if (response.data.error) {
                        alert(response.data.error);
                        return;
                    } else {
                        this.cut.image = response.data.image;
                    }
                })
            }, 100)
        },
        cut_cancel() {
            this.cut.show = false;

            if (this.cut.image.id > 0) {
                this.lock = true;

                axios.post(
                    route('export.images.remove', { image_id: this.cut.image.id })
                ).then(() => {
                    this.lock = false;
                    this.$inertia.reload();
                })    
            }
        },
    }
}
</script>

<style scoped>
.overview {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.overview-item {
    display: flex;
    gap: 16px;
}
.overview-item-title {
    font-size: 15px;
    color: #757575;
    font-weight: bold;
    user-select: none;
    min-width: 120px;
    text-align: right;
    width: 120px;
}
.overview-item-value {
    font-size: 15px;
    overflow-x: auto;
}
.attributes {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}
.attributes-item-title {
    font-size: 15px;
    color: #757575;
    font-weight: bold;
    user-select: none;
}
.attributes-item-value {
    font-size: 15px;
}
.images {
    background: #f3f4f6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
    padding-top: 1px;
}
.image {
    box-sizing: content-box;
    background: white;
}
.image img {
    width: 100%;
}
.title {
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 2px solid #e5e7eb;
}

.duplicates {
    padding: 20px;
}
.items-wrapper {
    padding: 20px;
}
.root-table, .others-table {
    display: grid;
    gap: 10px;
}
.others-table {
    margin-top: 30px;
}
.root-table-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image-wrapper {
    position: relative;
}
.image-checkbox {
    /* position: absolute; */
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    pointer-events: none;
    cursor: pointer;
}
.images-toolbar {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image-toolbar {
    width: 100%;
    padding: 10px 12px;
    border-top: 1px dashed #e5e5e5;
    background: white;
    display: flex;
    justify-content: space-between;
}
.image img {
    cursor: pointer;
}
.image-toolbar-selected, .image-toolbar-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.image-toolbar-selected {
    user-select: none;
    cursor: pointer;
}

.cut-btn {
    padding-top: 0;
}

.cut-modal-image-preview {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
}
.cut-modal-image-preview-separator {
    height: 50% !important;
    border-bottom: 1px dashed #a2a2a2;
}
.cut-modal-image-preview > div {
    /* border: 1px dashed #a2a2a2; */
    height: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.ikea-vendor-code {
    float: right;
    opacity: .6;
}
</style>

