<template>
    <AppLayout title="Выгрузка">

        <div class="py-6 pb-20">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div :class="{'lock': lock}">
                    <div class="filter">
                        <div class="filter-item">
                            <div class="filter-item-title text-gray-600">Статус</div>
                            <div class="filter-item-field">
                                <select name="status" v-model="filter.status" @change="submit_filter()">
                                    <option value="all">Все</option>
                                    <option value="exported">В выгрузке</option>
                                    <option value="inactive">Неактивный</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-item">
                            <div class="filter-item-title text-gray-600">Наименование</div>
                            <div class="filter-item-field">
                                <input name="title" v-model="filter.title" @keyup.enter="submit_filter()" type="text" autofocus ref="filter_title">
                            </div>
                        </div>
                        <div class="filter-toolbar">
                            <a href="/catalog.yml" class="link" target="_blank">Фид</a>
                            <SecondaryButton @click="generate_feed()">Запустить выгрузку</SecondaryButton>
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <Table :rows="items.data" :columns="columns">
                            <template #title="{row}">
                                <NavLink :href="route('export.detail', {item_id: row.id})" class="link item-title">{{ row.item.title }}</NavLink>
                            </template>
                            <template #price="{row}">
                                <div class="price">{{ (row.price / 100).toLocaleString('fr') }}</div>
                            </template>
                            <template #ikea_vendor_code="{row}">
                                <div class="w-full text-center">{{ row.item.ikea_vendor_code }}</div>
                            </template>
                            <template #status="{row}">
                                <span :class="'link item-status ' + get_item_status(row).code" @click="toggle_export(row.id)">
                                    {{ get_item_status(row).title }}
                                </span>
                            </template>
                        </Table>
                        <Pagination :links="items.links"></Pagination>
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout.vue';
import Table from '@/Components/Table.vue';
import Pagination from '@/Components/Pagination.vue';
import NavLink from '@/Components/NavLink.vue';
import SecondaryButton from '@/Components/SecondaryButton.vue';

export default {
    props: {
        items: Object,
    },
    components: {
        AppLayout,
        Table,
        Pagination,
        NavLink,
        SecondaryButton,
    },
    data() {
        return {
            lock: false,
            columns: {
                sku: {
                    title: 'Артикул',
                },
                title: {
                    title: 'Наименование',
                    cell_class: 'whitespace-normal text-sm',
                },
                ikea_vendor_code: {
                    title: 'Артикул IKEA'
                },
                status: {
                    title: 'Статус'
                },
            },
            filter: this.$inertia.form({
                status: 'all',
                title: '',
            }),
        }
    },
    created() {
        const params = (new URLSearchParams(window.location.search));

        ['status', 'title'].forEach(key => {
            if (params.get(key)) {
                this.filter[key] = params.get(key)
            }
        });
    },
    methods: {
        visit(url) {
            this.$inertia.visit(url)
            return false;
        },
        get_item_status(item) {
            if (item.active) {
                return { title: 'В выгрузке', code: 'exported' };
            } else {
                return { title: 'Неактивный', code: 'inactive' };
            }
        },
        toggle_export(item_id) {
            const page = this;
            page.lock = true;
            this.$inertia.post(route('export.toggle', {item_id}), {}, {
                preserveScroll: true,
                onFinish() {
                    page.lock = false;
                }
            })
        },
        submit_filter() {
            const page = this;
            page.lock = true;
            this.filter.get(route('export'), {}, {
                preserveScroll: true,
                onFinish() {
                    page.lock = false;
                }
            });
        },
        generate_feed() {
            const page = this;
            page.lock = true;
            this.filter.post(route('export.generate_feed'), {}, {
                preserveScroll: true,
                onFinish() {
                    page.lock = false;
                }
            });
        }
    },
}
</script>

<style scoped>
.table-wrapper {
    margin-top: 10px;
}
.item-status {
    display: block;
    width: 100%;
    white-space: nowrap;
}
.item-status.new {
    filter: grayscale(1);
}
.item-status.exported {
    filter: hue-rotate(213deg);
}
.item-status.inactive {
    filter: hue-rotate(150deg);
}
.item-title {
    padding: 8px 16px;
}
</style>

